<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<title>{% block title %}Welcome{% endblock %} — Portfolio</title>
<body>
  <header>
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <a href="/" class="home-page-logo">
                <h1 class="Logo">Oksana Kondratiuk</h1>
                <p class="profession">web & graphic designer</p>
            </a>
        </div>
        <div class="col-md-4 col-xs-12 nav-menu">
            <nav>
              <ul class="nav navbar-nav">
                {% for href, title in [
                  ['/about', 'About'],
                  ['/works', 'Works'],
                  ['/portfolio', 'Portfolio'],
                  ['/contact', 'Contact']
                ] %}
                  <li
                      {% if this.is_child_of(href) %}
                        class="main-menu active"
                      {% else %}
                          class="main-menu"
                      {% endif %}
                  >
                      <a  href="{{ href|url }}">{{ title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </nav>
        </div>
    </div>
  </header>
  <div class="container">
    {% block body %}{% endblock %}
  </div>
  <footer>
      All material &copy; copyright by Oksana Kondratiuk. All rights reserved.
  </footer>
</body>
