@font-face{
    font-family: "Century Gothic";
    src: url('/static/fonts/Century_Gothic.TTF'),
    url('/static/fonts/Century_Gothic.TTF');
}
@font-face{
    font-family: "Asenine Wide";
    src: url('/static/fonts/ASENW.ttf'),
    url('/static/fonts/ASENW.ttf');
}

body {
    font-family: 'Century Gothic', Regular;
    background: #080411;
    color: #ffffff;

}

a {
    color: #6c6971;
}

a:focus {
    text-decoration: none;
    color: #6c6971;

}
a:hover {
    color: #ffffff;
    background-color: #755;

}

header {
    margin: 0 auto;

}

.container {
    position: relative;
}

footer {
    position: absolute;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    color: #a3a4c5;
    opacity: 0.1;
    bottom: 0px;
}

img.LogoImg {
    left: 12.9%;
    top: -74px;
    position: absolute;
    width: 90%;
    z-index: -4;
}
img.LogoEffect {
    position: absolute;
    width: 80%;
    left: 200px;
    top: -152px;
    opacity: 0.3;
    z-index: -1;
}

@media screen and (max-width:650px) {
    .MyPhotoImg {
        min-height: 200px;
        width: 100%;
        background-image: url('/static/img/works/PhotoFrame4.png');
    }
    .AboutPageImg {
        display: none;
    }
    img.LogoImg {
        top: 0;
    }
    img.LogoEffect {
        left: 110px;
        top: -46px;

    }
    .TextAbout {
        width: auto;
    }
}

@media screen and (min-width:651px) and (max-width:768px) {
    .container {
        margin: 0;
    }
    img.LogoImg {
        position: fixed;
        top: 0;
        margin-top: 100px;
    }
    img.LogoEffect {
        position: fixed;
        left: 123px;
        top: -49px;
        margin-top: 100px;
    }
    .navbar-nav li {
    padding: 10px 0;
    font-size: 20px;
}
    .navbar-nav li a {
    padding: 40px 0 40px 150px;
    text-align: left;
    font-size: 40px;
    }
    .AboutPage .MyPhotoImg img.AboutPageImg {
        width: 100%;
    }
    .MyPhotoImg {
        top: 0;
    }
    .AboutPage .TextAbout {
        width: 500px;
        margin-left: 80px;
    }
}
@media screen and (min-width:769px) and (max-width:992px) {
    img.LogoImg {
        top: 0;
        margin-top: 40px;
    }
    img.LogoEffect {
        left: 123px;
        top: -49px;
        margin-top: 40px;
    }
    .AboutPage .MyPhotoImg img.AboutPageImg {
        width: 120%;
    }
    .MyPhotoImg {
        top: 0;
    }
    .AboutPage .TextAbout {
        width: 650px;
        margin-left: 40px;
        margin-top: 0;
    }
    .ContactContainer .ContactPageImg {
        width: 145%;
        margin-top: -345px;
        margin-left: -80px;
        z-index: -1;
    }
}
@media screen and (min-width:993px) and (max-width:1200px) {

    img.LogoImg {
        top: -60px;
        margin-top: 40px;
    }
    img.LogoEffect {
        left: 165px;
        top: -125px;
        margin-top: 40px;
    }

    header h1.Logo {
        font-size: 44px;
    }
    p.profession {
        margin-left: 340px;
    }

    .AboutPage .TextAbout {
        width: 440px;
        margin-left: 0;
        margin-top: 70px;
        font-size: 15px;
        font-weight: 100;
        text-indent: 30px;
    }
    .MyPhotoImg {
        top: 40px;
    }
    .ContactContainer .ContactPageImg {
        width: 240%;
    }
    .ContactContainer p {
        width: 520px;
        font-size: 14px;
        margin: 30px 0 30px -30px;
        text-align: center;
    }
    .ContactContainer img {
        width: 45%;
        margin-left: 50px;
    }
    /*.ContactContainer img:hover {*/
        /*width: 40px;*/
        /*bottom: 0;*/

}


.DotsEffect {
    animation: Orbit 6s linear 1;
}
.ThreeCEffect {
    animation: Orbit 8s linear 1;
}
@keyframes Orbit {
    0% {
    transform: rotate(180deg);
}
    100% {
    transform: rotate(0deg)}
}

.LotsCEffect {
     @include circle(radius: 0);
     animation: SecondOrbit 10s linear 1;
}
@keyframes SecondOrbit {
    0% {
    transform: rotate(0deg);
}
    100% {
    transform: rotate(360deg)}
}
.WingsEffect {
    animation: WingsScale 10s linear 1;
}
@keyframes WingsScale {
    0% {
        transform: scale(0.5,0.5);
    }
}
.LightEffect {
    display: none;
    animation: LightScale 2s linear 1;
     animation-delay: 12s;

}
@keyframes lightScale {
    0% {
        transform: scale(0.1,0.1);
    }
    50% {
        transform: scale(1.5,1.5);
    }
     100% {
        transform: scale(1,1);
    }
}


header h1 {
    color: white;
    font-size: 48px;
}

h2 {
    font-size: 40px;
    color: #ffffff;
}

header h1.Logo, h1.Logo-small {
    font-family: 'Asenine Wide', Regular;
    font-size: 52px;
}

@media screen and (max-width:768px) {
    .profession, .Logo, .nav-menu {display: none;}
}

@media screen and (min-width:769px) {
    .profession-small, .Logo-small, .navbar-header {display: none;}
}

.container-nav>.collapsing {
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: #100c19;
}
.container-nav>.navbar-collapse.in {
    position: absolute;
    display: block;
    background-color: #100c19;
    opacity: 0.9;
    width: 100%;
    z-index: 1;

}
/*.navbar-nav {*/
    /*float: left;*/
    /*margin: 10px;*/
/*}*/


.navbar-nav li a:hover {
    background: transparent;
}

.Logo-small {
    margin-bottom: 0;
    margin-left: 15px;
}
.profession-small {
    margin-left: 10px;
    margin-top: -12px;
    color: #a3a4c5;
}
.navbar-toggle {
    border-color: #ffffff;
    margin-top: -60px;

}
.navbar-toggle .icon-bar {
    background-color: #ffffff;
    width: 30px;
}

p.profession {
    color: #a3a4c5;
    margin: -20px 0 0 380px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}


li.main-menu > a:hover {
    background-color: transparent;
}
.main-menu.active a {
    color: #ffffff;
}
.home-page-logo:hover {
    text-decoration: none;
    color: #ffffff;
}

.nav-menu {
    margin-top: 30px;
}

.contacts-page {
    top: 75px;
    z-index: 1;
}

.contacts {
    text-align: center;
}

.contacts-disc {
    width: 600px;
    margin: 40px 0 40px -40px;
    font-size: 16px;
    text-align: center;
}
img.ContactPageImg {
    width: 190%;
    margin-left: -380px;
    margin-top: -80px;
    z-index: -1;
}
img.AboutPageImg {
    width: 170%;
    z-index: -10;
}
/*.TextAbout {*/
    /*width: 490px;*/
    /*margin-top: 120px;*/
    /*margin-left: 80px;*/
    /*font-size: 16px;*/
   /*font-weight: 100;*/
    /*text-indent: 30px;*/
/*}*/
.MyPhoto {
    width: 70%;
    margin-left: 65px;
    margin-top: 8px;
}

.portfolio-container {
    width: 90%;
    margin: 50px auto 0 auto;
}

.flex-row {
    display: flex;
    align-content: center;
}
.portfolio-img {
    width: 100%;
}
.flex-col {
    padding: 0;
    margin-bottom: 15px;
    margin-right: 9px;
}

.flex-col-People {
    position: relative;
}

.flex-col-People a {
    position: relative;
    display: block;
}

.flex-col-other {
    position: relative;
}

.flex-col-other a{
    position: relative;
    display: block;

}
.flex-col a:hover {
    background: black;
}
.flex-col a:hover img {
    background-color: black;
    opacity: 0.3;
}
.flex-col:hover span {
    display: block;
}

.flex-col span {
     position: absolute;
    display: none;
    font-size: 30px;
     text-decoration: none;
}
.flex-col-People span {
     width: 100px;
    height: 50px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: #ffffff;
}

.flex-col-other span {
    width: 90px;
    height: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: #ffffff;
}

.ContactContainer {
    top: 60px;
}

.Container-ContactImg {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
.Container-ContactImg a {
    display: block;
    width: 80px;
    color: transparent;
    position: relative;
}

.Container-ContactImg a:hover {
    background-color: transparent;

}
.ContactImg {
    position: absolute;
}
.Container-ContactImg img:hover {
    width: 50px;
    bottom: 5px;
    left: -5px;
}

.container-works {
    display: flex;
    width: 90%;
    margin-left: 150px;
    margin-top: 90px;
}

.container-works-name {
    flex: 1;
}
.container-work-img {
    flex: 2;
}

.container-works h2 {
  margin-bottom: 30px;
}

.container-works-name li {
    list-style: none;
    font-size: 16px;
    margin: 10px 0;
}
.container-works-name ul {
    padding-left: 0;
}

.container-works-name a:hover {
    text-decoration: none;
}

.container-works-name li:focus {
    list-style: disc;
}

.container-works-name li:hover{
    list-style: disc;
}
.container-work-img img {
    width: 70%;
}

.Photo-class {
    text-align: center;
    margin: 40px auto 20px auto;
}

.Photos-name {
    position: inherit;
}

.PhotoStructure {
    box-sizing: border-box;
    text-align: center;
}
.PhotoStructure img {
    cursor: pointer;
}

.Nature-Img-Vertical:hover, .Nature-Img-Horizontal:hover, .Nature-Img:hover {
    color: #ffffff;
    opacity: 0.7;
}


.Nature-Img {
    width: 46.5%;
    margin-bottom: 3px;
}

.Nature-Img-Vertical {
    width: 32.9%;
    margin-bottom: 3px;
}
.Nature-Img-Horizontal {
   width: 60%;
    margin-bottom: 3px;
}

#myBtn {
    padding: 0;
    margin: 0;
    border: none;
}
#myBtn img {
    margin-bottom: 0;
}
#myBtn:hover {
    background-color: black;
    opacity: 0.8;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.75);
}

/* Modal Content/Box */
.modal-content {
    width: 47%;
    position: absolute;
    background-color: #ffffff;
    top: 40px;
    border: 1px solid #888;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;

}
.modal-img {
    width: 100%;
    border-radius: 6px;
}

/* The Close Button */
.close {
    position: absolute;
    right: 20px;
    color: #ffffff;
    opacity: 0.9;
    font-size: 40px;
    font-weight: 100;
}

.close:hover,
.close:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}